<!DOCTYPE html>
<html ng-app="PokemonApp">
<head>
  <title>PokemonTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'layouts/nav' %>
<div class="footer_height">
    <div class="container">
      <% if !flash.empty? %>
        <div class="row flash_row">
          <div class="col l6 offset-l3">
            <% flash.each do |type, message| %>
            <%= content_tag :div, message, class: "#{type} flash_message center-align" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>

  <footer class="page-footer grey darken-3">
    <div class="footer-copyright">
      <div class="container">
      PokemonTracker
      <a class="grey-text text-lighten-4 right" href="#!">Find on Github</a>
      </div>
    </div>
  </footer>

</body>
</html>
